@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6" id="partialListViewContainer">
    <partial name="_DetailList" model="@Model" />
</div>
<div class="col-md-6">
    @Html.LabelFor(m => m.DoneItemsHidden)
    <input id="hideDoneCheckBox" type="checkbox" onchange="ReloadList()" />
</div>

@section Scripts
{
    <script type="text/javascript">
        function ReloadList() {
            var doneItemsHidden = !($('#DoneItemsHidden').val() === 'true');

            $.ajax({
                type: 'GET',
                url: '@Html.Raw(Url.Action("DetailListPartial"))?todoListId=' + @Model.TodoListId + '&doneItemsHidden=' + doneItemsHidden,
                success: function (data) {
                    $('#partialListViewContainer').html(data);
                }
            });
        };

    </script>
}