@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(m => m.DoneItemsHidden)
        <input id="hideDoneCheckBox" type="checkbox" onchange="ReloadList(1, 0)" />
    </div>
</div>
<div class="row">
    <div class="col-md-6" id="partialListViewContainer">
        <partial name="_DetailListPartial" model="@Model" />
    </div>
    <div class="col-md-4" id="partialFormViewContainer">
    </div>
</div>

<script type="text/javascript">
        function ReloadList(toggleHide, toggleSort) {
            var doneItemsHidden;
            var descendingSortOrder;

            if (toggleHide === 1) {
                doneItemsHidden = !($('#DoneItemsHidden').val() === 'true');
            } else {
                doneItemsHidden = ($('#DoneItemsHidden').val() === 'true');
            }

            if (toggleSort === 1) {
                descendingSortOrder = !($('#DescendingSortOrder').val() === 'true');
            } else {
                descendingSortOrder = ($('#DescendingSortOrder').val() === 'true');
            }

            $.ajax({
                type: 'GET',
                url: '@Html.Raw(Url.Action("DetailListPartial"))?todoListId=' + @Model.TodoListId + '&doneItemsHidden=' + doneItemsHidden + '&descendingSortOrder=' + descendingSortOrder,
                success: function (data) {
                    $('#partialListViewContainer').html(data);
                }
            });
    };

        function ShowCreateNewForm() {
            $.ajax({
                type: 'GET',
                url: '@Html.Raw(Url.Action("CreatePartial","TodoItem"))?todoListId=' + @Model.TodoListId,
                success: function(data) {
                    $('#partialFormViewContainer').html(data);
                }
            });
        };
</script>
